.nav {
  height: 80px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-centered {
  justify-content: center;
  align-items: center;
}

.content-container {
  max-width: 1200px;
  margin: auto;
}

.nav-bar-wrapper {
  width: 100%;
  justify-content: space-between;
}

.text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 20px;
  font-style: normal;
  color: rgb(48, 19, 48);
  margin-left: 15px;
}

.links-bar > a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 20px;
  color: rgb(48, 19, 48);
  margin: 0 7px;
}

.links-bar-icon {
  margin-left: 120px;
}

.first-col-left,
.first-col-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: 555px; */
}

.section1 {
  height: 455px;
}

.header {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 800;
  font-style: normal;
  color: rgb(17, 11, 17);
  padding-top: 40px;
}

.first-paragraph {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  color: rgb(17, 11, 17);
}

.link-buttons {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.primary-button {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: rgb(17, 11, 17);
  background-color: rgb(255, 136, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: rgb(17, 11, 17);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.margin-left {
  margin-left: 50px;
}

.video-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-image {
  background-image: url("./images/painting1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 455px;
  margin-top: 30px;
}
