* {
  font-family: Poppins, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}

.nav {
  /* height: 5em; */
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-centered {
  align-items: center;
}

.content-container {
  max-width: 70em;
  justify-content: center;
  margin: auto;
}

.nav-bar-wrapper {
  width: 100%;
  justify-content: space-between;
}

.text {
  font-size: 1em;
  font-weight: 1.25em;
  color: rgb(48, 19, 48);
  margin-left: 1em;
}

.links-bar > a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 1.25em;
  color: rgb(48, 19, 48);
  /* margin: 0 0.43em; */

  /* margin: 0 10em; */
  margin-left: 2em;
}

.links-bar-icon {
  /* margin-left: 7.5em; */
  width: 100%;
  justify-content: flex-end;
}

.first-col-left,
.first-col-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: 555px; */
}

.section1 {
  height: 28.43em;
}

.header {
  font-size: 1.75em;
  font-weight: 800;
  font-style: normal;
  color: rgb(17, 11, 17);
  padding-top: 40px;
}

.first-paragraph {
  font-size: 1.12em;
  font-weight: 600;
  color: rgb(17, 11, 17);
}

.link-buttons {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.primary-button {
  font-size: 1.12em;
  font-weight: bold;
  color: rgb(17, 11, 17);
  background-color: rgb(255, 136, 0);
  border: none;
  border-radius: 0.31em;
  padding: 0.62em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  font-size: 1.12em;
  font-weight: bold;
  color: rgb(17, 11, 17);
  background-color: transparent;
  border: none;
  border-radius: 0.31em;
  padding: 0.625em;
}

.margin-left {
  margin-left: 3.12em;
}

.video-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-image {
  background-image: url("./images/painting1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 28.43em;
  margin-top: 1.87em;
}

#menu-icon {
  width: 30px;
  height: 30px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: flex;
  }

  .nav-bar-wrapper > .text {
  }

  .nav-bar-wrapper {
    position: relative;
  }

  .nav-bar-wrapper > .links-bar-icon {
    position: absolute;
    width: 100%;
    top: 70px;
    flex-direction: column;

    background-color: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  }

  .nav-bar-wrapper > .links-bar-icon > .links-bar > a {
    display: block;
    width: 100%;
  }

  .content-container > .links-bar-icon > .links-bar > a {
    margin-top: 10px;
  }

  .nav-bar-wrapper > .links-bar-icon > .links-bar > a:hover {
    text-decoration: underline;
  }
}
